<div>
    {{#with person}}
    <div><h1>{{name}}</h1></div>
    <br>
    <div>Age: {{age}} </div>
    <br>
    <div>Gender: {{gender}}</div>
    <br>
    <hr>
    <br>
    {{#with address}}
        <div>
            <address>
                {{street}},
                {{city}},
                {{state}},
                {{zip}},
                {{country}}
            </address>
        </div>
    {{/with}}
    <br>
    <hr>
    <br>
    <h2>Education</h2>
    <ul>
        <li>
            {{#each education}}
            <div>Degree: {{degree}}</div>
            <br>
            <div>Major: {{major}}</div>
            <br>
            <div>University: {{university}}</div>
            <br>
            <div>Draduation Year: {{graduationYear}}</div>
            <br>
            {{/each}}
        </li>
    </ul>
    <br>
    <hr>
    <br>
    <h2>Work Experience</h2>
        {{#each workExperience}}
            <h3>Company: {{company}}</h3>
            <div>Title: {{title}}</div>
            <br>
            <div>
                Start Date: {{startDate}}
                End Date: {{endDate}}
            </div>
            <br>
            <ul>
                {{#each responsibilities}}
                    <li>
                        {{this}}
                    </li>
                {{/each}}
            </ul>
            <br>
            <div>
                Founded: {{year_founded}}
            </div>
            <br>
            <div>Industry: {{industry}}</div>
            <br>
            <div> 
                <h4>Employees:</h4>
            </div>
            <ul>
            {{#each employees}}
            <li>
                {{name}},
                {{position}}, 
                {{department}} 
            </li>    
            <br>
            Projects:
                <ul>
                {{#each projects}}
                <li>
                {{name}}
                ({{description}}),
                {{status}}
                </li>
                <br>
                Teams:
                <ul>
                {{#each teams}}
                    <li>
                        {{team_name}}
                    <br>
                    Team leader: 
                        {{#with team_leader}}
                            {{name}} 
                            ({{title}}), 
                    <br>
                            email: {{email}}
                        {{/with}}
                    <br>
                    Team members:
                    <ul>
                    {{#each team_members}}
                        <li>
                            {{name}} ({{title}})  
                        <br>
                        email: {{email}} 
                        <br>
                        Skills:
                        <ul>
                            {{#each skills}}
                            <li>
                                {{this}}
                            </li>
                            {{/each}}
                        </ul>
                        Projects:
                        <ul>
                            {{#each projects}}
                            <li>
                            {{name}} ({{description}}) 
                                <br>
                                Technologies:
                                <ul>
                                    {{#each technologies}}
                                    <li>
                                        {{this}}
                                    </li>
                                    {{/each}}
                                </ul>
                                Team members: 
                                <ul>
                                    {{#each team_members}}  
                                    <li>
                                        {{name}} ({{title}})
                                    </li>
                                    {{/each}}
                                </ul>
                            </li>
                            {{/each}}
                        </ul>
                        </li>
                        {{/each}}
                        </ul>
                    </li>
                    {{/each}}
                    </ul>
                {{/each}}
                </ul>
            </ul>
            {{/each}}
        {{/each}}
    {{/with}}
</div>