<div>
    <div><h1>Program</h1></div>
    <div>
    {{#with program}}
        <h2>Excursion</h2>
        {{#with excursion}}
        <h3>{{name}}</h3>
        {{#with location}}
            Location:
                {{city}},
                {{country}}
        {{/with}}
        <date>{{date}}</date>
        <ul>
        <h4>Program:{{#each program}}</h4>
        <li>
        Name: 
            {{name}}
        <br>
        Type:
            {{type}}
        <br>
        Duration:
            {{duration}}
        <br>
        <h5>Details:</h5>
            {{#with details}}
            {{#if museum}}
            Museum:
            {{#with museum}} 
            <br>
                Name: {{name}} 
                <br>
                Location: {{#with location}}
                    {{address}}, {{city}}, {{country}}
                {{/with}}
        <br>
            Exhibits:
            <ul>
            {{#each exhibits}}
            <li>
            Name: {{name}} 
            <br>
                {{#if artist}}artist: {{artist}}
                {{/if}}
            Description: {{description}}
            <br>
                {{#if audio_guide}}audioguide {{/if}}
            </li>
            {{/each}}
            </ul>
            {{/with}}
                {{/if}}
                {{#if venue}}
                Venue: 
                {{#with venue}}
                <br>
                Name: {{name}}
                <br>
                Location: 
                {{#with location}} 
                    {{address}}, 
                    {{city}}, 
                    {{country}} 
                <br>  
                {{/with}}
                {{/with}}
                <br>
                {{/if}}
                <br>
                Guide:
                {{#with guide}}
                <br>
                Name: {{name}}
                <br>
                Language:{{language}}
                <br>
                Rating: {{rating}}
                <br>
                <br>
                {{/with}}
            {{/with}}
            <hr>
            </li>
        <br>
        {{/each}}
        </ul>
        {{/with}}
    {{/with}}
    </div>
</div>