<header>
    <section>
        <div>
            {{#with page_header}}
                <h1 class='text-center text-capitalize'>{{title}}</h1>
                <br>
                <h6 class='text-center text-uppercase text-muted'>{{description}}</h6>
            {{/with}}
        </div>
    </section>
</header>
<main>
    <section>
        <div class='card'>
            <div class='card-body'>
                {{#with section}}
                    {{#with about_us}}
                        {{#with title_list}}
                            <div class='display-6 text-end'><b>{{main}}</b></div>
                            <br>
                            <div class='text-end'><h2>{{sub}}</h2></div>
                            <br>
                            <button class= "btn btn-outline-info">Show more</button>
                        {{/with}}
                    {{/with}}
                {{/with}}
            </div>
        </div>       
    </section>
    <section>
        <div class='card'>
            <div class='card-body'>
                <div class='display-5 text-muted'>
                    <b>{{section.advantage.title}}</b>
                </div>
                <div class='card'>
                    <div class='card-body'>
                        <div class='display-4 text-muted'>
                            <b>{{section.advantage.efficiency.title}}</b></div>
                        <br>
                            <h6>{{section.advantage.efficiency.sub_title}}</h6><br>
                            <h6 class='text-muted'>
                                {{section.advantage.efficiency.description}}</h6>
                            <br>
                        <button type='button' class='btn btn-outline-warning'>Show more</button>
                    </div>
                </div>
                <br>   
                <div class='card'>
                    <div class='card-body'>
                    <div class='display-4 text-center text-muted'>
                        <b>{{section.advantage.innovation.title}}</b></div>
                        <br>
                        <h6 class='text-center'>
                            {{section.advantage.innovation.sub_title}}</h6>
                        <br>
                        <h6 class='text-center text-muted'>
                            {{section.advantage.innovation.description}}</h6>
                        <br>
                        <button type='button'class='btn btn-outline-warning'>
                            {{section.advantage.innovation.button}}</button>
                    </div>
                </div>
                <br>
                <div class='card'>
                    <div class='card-body'>
                        <div class='display-4 text-end text-muted'>
                            <b>{{section.advantage.collaboration.title}}</b></div>
                            <br>
                            <h6 class='text-end'>
                                {{section.advantage.collaboration.sub_title}}</h6>
                            <br>
                <h6 class='text-end text-muted'>
                    {{section.advantage.collaboration.description}}</h6>
                <br>
                <button type='button'class='btn btn-outline-warning'>
                    {{section.advantage.collaboration.button}}</button>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class='card'>
            <div class='card-body'>
                <div class='display-5'><b>{{section.agreement.title}}</b></div>
                <br>
                <div class='card'>
                    <div class='card-body'>
                        <h5>H{{section.agreement.info.sub_title}}</h5>
                        <br>
                        <div class='card'>
                            <div class='card-body'>
                                <h6 class=' text-muted'>
                                    {{section.agreement.info.detail.text}}</h6>
                                <br>
                                <button type='button'class='btn btn-success'>
                                    {{section.agreement.info.detail.button}}</button>
                            </div>
                        </div>    
                    </div>
                </div>       
            </div>
        </div>        
    </section>
</main>